<style>
    body{
        background-color:lightgrey;
    }
    a{ font-size: 100%}

   #outer{width:75%;
       margin: 5% auto auto auto ;
       text-align:center;
       padding-left:0px;
       background-color:white;
       border-radius: 10px;
     }

    #header{
        display:block;
        width: 100%;
        height: 100px;
        margin-left: auto ;
        margin-right: auto ;
        margin-bottom: 20px;
        border-bottom: solid 5px lightgray;
        text-align:center;
        background-color:#81BEF7;
        padding-top:5px;
        padding-bottom:20px;
        font-family:sans-serif;
        border-radius: 10px 10px 0 0;
    }

h1{
    font-size:50px;
}

#header a{
    color:white;
    text-decoration:none;
    
}

 a:hover{
     background-color:lightgreen;
}

#inner{
    display:block;
    border-radius: 5px;
    padding-top:0px;
    width: 950px;
    height: 650px;
}

   .cate{
       display:inline-block;
       float:left; margin:5px;width:300px;height:300px;
       padding:0;
       position:relative;
       overflow:auto;
    }

.label img{
    width:80px;
    height:80px;
    border-radius:100%;
}

h3,.cate a{
    color: #777;
    font-weight: 300;
}

</style>

<body>

  <div id='outer'>
    
  <div id="header">
          <h1><a href='http://www.nytimes.com '> New York Times </a></h1>
  </div>
  
    <div id='inner'>
      <div class='cate'>
       <div class='label'> <img src="business.jpg">
         <h3>Business</h3>
        </div>
         <ur>
           <li><h4><a href='http://www.nytimes.com/2015/11/06/business/international/trans-pacific-trade-deal-tpp-vietnam-labor-rights.html?partner=rss&emc=rss&_r=0 '>In Pacific Trade Deal, Vietnam Agrees to U.S. Terms on Labor Rights</a></h4></li>
           <li><h4><a href='http://www.nytimes.com/2015/11/05/business/smallbusiness/buffalo-entices-start-ups-to-relocate-with-5-million-contest.html?partner=rss&emc=rss '>Buffalo Entices Start-Ups to Relocate With $5 Million Contest </a></h4></li>
           
           <li><h4><a href='http://www.nytimes.com/2015/11/05/business/dealbook/value-of-bitcoin-surges-emerging-from-a-lull-in-interest.html?partner=rss&emc=rss '> Bitcoin Surges, Emerging From a Lull in Interest</a></h4></li>
            <li><h4><a href='http://www.nytimes.com/2015/11/05/technology/airbnb-and-uber-mobilize-vast-user-base-to-sway-policy.html?partner=rss&emc=rss '> Airbnb and Uber Mobilize Vast User Base to Sway Policy</a></h4></li>
           
           
           </ur>
        
       
        </div>
      
      <div class='cate'>
          
          <div class='label'><img src="politics.jpg"><h3>Politics</h3></div>
          <ur>
              <li><h4><a href=''></a></h4></li>
              <li><h4><a href=''></a></h4></li>
              <li><h4><a href=''></a></h4></li>
          </ur>
      </div>
      
      
      <div class='cate'>
         <div class='label'><img src="technology.jpg"><h3>Technology</h3></div>
         <ur>
             <li><h4><a href=''></a></h4></li>
             <li><h4><a href=''></a></h4></li>
             <li><h4><a href=''></a></h4></li>
         </ur>
         
      </div>
      
      <div class='cate'>
         <div class='label'> <img src="sports.jpg"><h3>Sports</h3></div>
         <ur>
             <li><h4><a href=''></a></h4></li>
             <li><h4><a href=''></a></h4></li>
             <li><h4><a href=''></a></h4></li>
         </ur>
         
       </div>

      <div class="cate">
        
          <div class='label'><img src="env.jpg"><h3>Environment</h3></div>
          <ur>
              <li><h4><a href='http://www.nytimes.com/2015/11/05/science/toxin-taints-crabs-and-kills-sea-mammals-scientists-warn.html?partner=rss&emc=rss '</a>Toxin Taints Crabs and Kills Sea Mammals, Scientists Warn</h4></li>
              <li><h4><a href='http://www.nytimes.com/2015/11/05/world/asia/thousands-stranded-in-bali-as-erupting-volcano-grounds-flights.html?partner=rss&emc=rss '</a>Bali Travelers Stranded as Volcano Grounds Flights</h4></li>
              <li><h4><a href=' http://www.nytimes.com/2015/11/02/science/leo-p-kadanoff-physicist-of-phase-transitions-dies-at-78.html?partner=rss&emc=rss '</a></h4>Leo P. Kadanoff, Physicist Who Explored How Matter Changes, Dies at 78</li>
          </ur>
        
       </div>
       
       <div <div class="cate">
          <div class='label'> <img src="health.jpg"><h3>Health</h3></div>
          <ur>
              <li><h4><a href=''></a></h4></li>
              <li><h4><a href=''></a></h4></li>
              <li><h4><a href=''></a></h4></li>
          </ur>
           
       </div>
       
    </div>
</div>

</body>
    
