{% extends 'base.html' %}

{% block body_block %}

	<div class="col-md-8">
		<div class="col-md-12">
			<div class="panel panel-primary" id="panels">
				<div class="panel-heading">
					<h1 style="text-align: center;">All Images</h1>
                    <input id="submit" type="button" onclick=" " method="post"  value="Start extracting new images" />
                </div>
                <div class="messagediv"> {{Message}}</div>
			</div>
		</div>

		{% for each in imgurls %}
		<div class="imgdiv">
			<img src="{{each.image_url}}">
		</div>
		{% endfor %}
		
	</div>

{% endblock %}
