{% extends 'base.html' %}

{% block title %} Create Feed {% endblock %}

{% block body_block %}

	<div class="col-md-12">

		<!--header-->
		<div class="col-md-12">
			<div class="panel panel-primary" id="panels">
				<div class="panel-heading"><h1 style="text-align: center;">Filter Feeds</h1></div>
			</div>
		</div>

		<!--checkboxes for each paper-->
		<form name="myForm" action="userfeeds" method="post">

		{% csrf_token %}
		{% for newspaper in dictcheckbox %}
		<div class="col-md-4">
			<div class="panel panel-primary" id="panels">
				<div class="panel-heading" style="height:40px">
					<a href="">{{newspaper.title}}</a>
				</div>

				<p class="panel-body" style="height:150px">
					{% for each in newspaper.category %}
						<input type="checkbox" name="newspapercategory[]" value="{{newspaper.title}}, {{each}}">{{each}}<br>
					{% endfor %}
				</p>
			</div>
		</div>
		{% endfor %}

		<!--last box has user input-->
		<div class="col-md-4">
			<div class="panel panel-primary" id="panels">
				
				<div class="panel-heading">
					Add your own RSS Feeds
				</div>

				<p class="panel-body" style="margin-top:-30px;margin-left: 100px;">
					<div id="UserRssInput" style="margin-left: 10px;">
						<input type="text" id="userRSS" name="userRSS[]">
					</div>						
				</p>

				<div class="panel-footer">
					<input type="button" id="addInputField" class="btn btn-primary" value="Add RSS">
                    <input type="button" id="deleteInputField" class="btn btn-primary" value="Delete Last RSS">
					<input type="submit" value="Filter" class="btn btn-primary">
				</div>
			</div>
		</form>				
		
	<!--closes last div-->
	</div> 

{% endblock %}

