{% extends 'base.html' %}

{% block title %} Main {% endblock %}

{% block body_block %}

	<!--populates category boxes - 6-->
	<div class="col-md-8">
		<div class="col-md-12">
			<div class="panel panel-primary" id="panels">
				<div class="panel-heading"><h1 style="text-align: center;">Newspaper Categories</h1></div>
			</div>
		</div>

		{% for category in dictcategory %}
		<div class="col-md-12">
			<div class="panel panel-primary" id="panels">
				<div class="panel-heading" style="height:40px; text-align: center; font-size: 20px;">
					<a href="/news/category/{{category.category}}">{{category.category}}</a>
				</div>

				<p class="panel-body" style="margin-top: -20px;">

				<ol style="overflow: hidden;margin-left: -15px">
					{% for each in category.feeds %}

						<!--title with description below-->
						<li style="font-size:15px;font-weight: bold;height: 20px;white-space: nowrap;"><a class="blackblue" href="{{each.url}}">{{each.title}}</a></li>

						-- {{each.description}} </br>

                        {% if each.id in article_has_image %}
                        <a href="/news/images/{{each.id}}"> View Top Image and Main Text</a> | 
                        {% endif %}

                         <!--Bookmark-->
						{% if user.is_authenticated %}
							{% if each.id in bookmark %}
                                <a href="{% url 'news:remove_from_bookmark' each.id %}?next={{request.path}}"> UnBookmark </a>
							{% else %}
								<a href="{% url 'news:add_to_bookmark' each.id %}?next={{request.path}}"> Bookmark </a>
							{% endif %}
						{% endif %}			
					{% endfor %}
				</ol>
				</p>
                <div class="panel-footer">Number of Feeds: {{n}} </div>
			</div>
		</div>
		{% endfor %}
	</div>

	<!--populate right side bar - stories from other papers-->
	<div class="col-md-4" style="margin-bottom: 15px;border-left: solid 1px lightgray;">
		<ul>
			<h2>Stories in Other Newspapers</h2>		
		</ul>
		{% for paper in dictpaper %}
		<ul>
			<a class="blackblue" href="/news/newspaper/{{paper.newspaperlink}}" style="text-decoration: underline"><h3>{{paper.newspaper}}</h3></a>
			{% for each in paper.title %}
			<li><a class="blackblue" href="{{each.url}}">{{each}}</a></li>
            {% if each.id in article_has_image %}
			<a href="/news/images/{{each.id}}"> View Top Image and Main Text</a> | 
            {% endif %}
            
                <!--Bookmark-->
				{% if user.is_authenticated %}
					{% if each.id in bookmark %}
                        <a href="{% url 'news:remove_from_bookmark' each.id %}?next={{request.path}}"> UnBookmark </a>
					{% else %}
						<a href="{% url 'news:add_to_bookmark' each.id %}?next={{request.path}}"> Bookmark </a>
					{% endif %}
				{% endif %}			
			{% endfor %}
		</ul>
		{% endfor %}		
	</div>

{% endblock %}
