{% extends 'base.html' %}

{% block body_block %}

	<div class="container" style="width:500px">
		<div class="row">
			<div class="col-md-12">
				<h1>Login</h1>

				<form action="{% url 'process_login' %}?next={{request.GET.next}}" method="post">
				{% csrf_token %}
					<div class="form-group">						
						<label>Email</label>
						<input type="email" name="email" class="form-control" placeholder="Enter email" value="{{email}}">
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" name="password" class="form-control" placeholder="Password">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
					<a class="btn btn-default" href="{% url 'reset_password' %}" role="button">Register</a>
				</form>
                <a href="{% url 'register' %}">Reset Password</a>
			</div>
		</div>
	</div>
{% if message %}
	<script type="text/javascript">
    	alert('{{ message }}');
	</script>
{% endif %}	
{% endblock %}
