{% extends 'dash_base.html' %}

{% block title %} Dashboard{% endblock %}

{% block body_block %}
<style>
    

a{
 word-wrap:break-word;
}

img{
    max-width: 100%;
    height: auto;
    width: auto;
}

</style>

        <!-- table head  -->
       <div class="row" style="width:100%;" >
           <div class="col-lg-8" style="width:100%;">
               <div class="panel panel-default" style="width:100%;">
                   <!-- /.panel -->
                   <div class="panel panel-default" style="width:100%;">
                       <div class="panel-heading" style="width:100%;">
                           <i class="fa fa-bar-chart-o fa-fw"></i>  <strong>All Articles {{summary.num_urls}}</strong>
                       </div>
                       
                       
                       <!-- /.panel-heading -->
                       <div class="panel-body" style="width:100%;">
                           <div class="row" style="width:100%;">
                               <div class="col-lg-4" style="width:100%;">
                                   <div class="table-responsive" style="width:100%;">
   
   
      
      <!-- table -->
      <div class="tablediv" style="overflow:scroll;height: 2000px;">
            <table border="5" style="text-align:center;">
                <tr class="tablehead" style="text-align:center;" >
                    <th style="width:15%;text-align:center;" > Articles</th>
                    <th style="width:10%;text-align:center;"> Newspaper </th>
                    <th style="width:8%;text-align:center;"> Category </th>
                    <th style="width:8%;text-align:center;"> Published Date</th>
                    <th style="width:10%;text-align:center;"> Description </th>
                    <th style="width:15%;text-align:center;"> Image</th>
                    <th class="maintext" style="width:25%;text-align:center;">Main Text</th>
                    <th style="width:10%;text-align:center;">Download</th>
                </tr>
                {% for each in articles %}
                <tr class="tablerow">
                    <div class="tablerow">
                        <td><a href="{{each.url}}">{{each.title}}</a></td>
                        <td >{{each.newspaper}}</th>
                        <td > {{each.category}} </th>
                        <td > {{each.publish_date}}</td>
                        <td>{{each.description}}</td>
                        {% if each.image %}
                        <td class="image"><a href="{{each.image}}"><img src="{{each.image}}" ></a></td>
                        {% else %}
                        <td class="image">None</td>
                        {%endif%}
                        {% if each.image %}
                        <td>{{each.text}}</td>
                        {% else %}
                        <td>None</td>
                        {%endif%}
                        <td> <td>
                    </div>
                </tr>
              {% endfor %}
            
            </table>
    
       </div>
    </div>









{% endblock %}

