{% extends 'dash_base.html' %}

{% block title %} Dashboard{% endblock %}

{% block body_block %}
<style>
    
.col-md-6{
    left:10%;
    width:80%;
}

.tablerow{
    height: 20%;
}

.rss{
    width: 25%;
}

.valid{
    width:5%;
    text-align:center;
}

#valid_true{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: green;
     margin: auto;
    
}

#valid_false{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    margin: auto;
}

.name{
    width: 10%;
    text-align:center;
}

.num{
    width:5%;
    text-align:center;
}

.pct{
    width: 20%;
    text-align:center;
}

.pct-bar-horizontal{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    width: 100%;
}
.tablehead{
    text-align:center;
}

.tablerow{
    height: 10%;
}
</style>

	<div class="col-md-12">

		<!--header-->
		<div class="col-md-12">
			<div class="panel panel-primary" id="panels">
				<div class="panel-heading"><h1 style="text-align: center;">Data of Population</h1></div>
			</div>
		</div>
        
        <!--table for each rssurl -->
        <div  class="col-md-6">
		<form name="myForm" action="" method="post">

		{% csrf_token %}
        <table border="5">
            
          <tr class="tablehead">
              <th class="num"> No. </td>
              <th class="rss" style="text-align:center"> RSS url </th>
              <th class="valid"> Valid </th>
              <th class="name"> Newspaper </td>
              <th class="name"> Category </td>
              <th class="num"> Number of Articles</th>
              <th class="num"> Number of Images</th>
              <th class="pct"> Percetage </th>
              <th class="num"> Number of Main Text</th>
              <th class="pct"> Percetage </th>
          </tr>
            	{% for each in feedurls %}
          <tr class="tablerow">
            <div class="tablerow">
              <td class="num"> {{each.rssurl_id}} </td>
              {% if each.valid %}
			  <td class="rss"> <a href="/dashboard/rssurl/{{each.rssurl_id}}">{{each.url}} </a> </td>
              <td class="valid"><div id="valid_true"></div></td>
              <td class="name"> {{each.newspaper}}</td>
              <td class="name"> {{each.category}}</td>
              <td class="num">{{each.number_of_articles}}</td>
              <td class="num">{{each.number_of_images}}</td>
              <td class="pct"><div class="pct-bar-horizontal">{{each.pct_of_images}}% <div></td>
              <td class="num">{{each.number_of_text}}</td>
              <td class="pct"><div class="pct-bar-horizontal">{{each.pct_of_text}}%</div></td>
              {% else %}
              <td class="rss"> {{each.url}} </td>
              <td class="valid"><div id="valid_false"> </div></td>
              <td >
                  <input type="button" id="delete_rssurl" class="btn btn-primary" value="Delete RSS">
              </td>
              <td>
                  <input type="button" id="edit_rssurl" class="btn btn-primary" value="Fix RSS">
              </td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
            
              {% endif %}
            </div>
           </tr>
		{% endfor %}
        
          <tr class="tablerow">
            <div>
              <td> Total</td>
              <td><p>Total RSS url: {{summary.num_urls}}; &nbsp;Valid RSS url: {{summary.valid_urls}}; Invalid RSS url: {{summary.invalid_urls}}</p></td>
              <td> {{summary.pct_valid}}% &nbsp; Valid</td>
              <td> </td>
              <td> </td>
              <td class="num"> {{summary.total_articles}}</td>
              <td class="num"> {{summary.total_images}}</td>
              <td class="pct"> {{summary.pct_total_images}} %</td>
              <td class="num"> {{summary.total_text}} </td>
              <td class="pct"> {{summary.pct_total_text}} % </td>
             </div>
          </tr>
        </table>
        </form>
        </div>
		
	<!--closes last div-->
	</div> 

{% endblock %}

