{% extends 'dash_base.html' %}

{% block title %} Dashboard{% endblock %}

{% block body_block %}
<style>
    

a{
 word-wrap:break-word;
}

img{
    max-width: 18%;
    height: auto;
    width: auto;
    display:inline-block;
}

.divinline{
    display: inline;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

</style>

    
    <!--table for each rssurl -->
  
        
        <!-- table head  -->
       <div class="row" style="width:100%;" >
           <div class="col-lg-8" style="width:100%;">
               <div class="panel panel-default" style="width:100%;">
                   <!-- /.panel -->
                   <div class="panel panel-default" style="width:100%;">
                       <div class="panel-heading" style="width:100%;">
                           <i class="fa fa-bar-chart-o fa-fw"></i>  <strong>All Images</strong>
                       </div>
                       
                       
                       <!-- /.panel-heading -->
                       <div class="panel-body" style="width:100%;">
                           <div class="row" style="width:100%;">
                               <div class="col-lg-4" style="width:100%;">
                                   <div class="table-responsive" style="width:100%;">
   
   
      
      <!-- table -->
      <div class="tablediv" style="overflow:scroll;height: 2000px;">
          {% for each in images %}
          {% if each.image_url %}
          <div class="divinline" style="display:inline"><a href="{{each.image_url}}"><img src="{{each.image_url}}"></a></div>
          {% endif %}
          {% endfor %}
       </div>
    </div>









{% endblock %}

