.nav_bar{
	width:100%;
	background-color: lightgray;
}
.nav-pills > li > a{
	color:white;
}
.nav-pills > li > a:hover{
	background-color: #5b94de;
	color:black;
}
.nav-pills > li > a:visited{
	background-color: #5b94de;
}
.panel-heading > a{
	color:white;
}
.panel-heading > a:hover{
	color:black;
	text-decoration: none;
}
.blackblue{
	color:black;
}
.blackblue:hover{
	color:blue;
}